body{
    margin: 20px;
    background-color: bisque;
}
.nav-holder,
.ul,
.hero,
.main1{
    display: flex;
    justify-content: space-between;
}
.li{
    margin-right: 20px;
    font-size: 1.5rem;
}
.school{display: flex;}
.color1{
    color: orange;
}
.color2{
    color: skyblue;
}
.title{
    max-width: 640px;
    font-size: 2rem;
}
.hero-child{
    width: 100%;
}
.li{
    list-style: none;
}
.nav-item1{
text-decoration: none;
}
.nav-item2{
    text-decoration: none;
    color: aqua;
}
.nav-item3{
    text-decoration: none;
    color: rgb(65, 238, 13);
}
.nav-item4{
    text-decoration: none;
    color: crimson;
}
.box1{
    background: radial-gradient(circle at top,rgb(228, 189, 189),rgb(144, 144, 197),rgb(171, 228, 171));
text-align: center;
border-radius: 20px;
padding: 20px;

}
.box2{
    background: radial-gradient(circle at bottom,rgb(113, 50, 129),rgb(108, 108, 194),rgb(126, 196, 126));
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
.box3{
    background: radial-gradient(circle at left,rgb(138, 168, 126),rgb(84, 153, 165),rgb(196, 79, 50));
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
.main1{
    gap: 20px;
}
.h1{
    text-align: center;
    margin: 60px;
}
h3{
    margin: 10px;
    padding-top:20px ;
}
h2{
    text-align: center;
    font-size: 2rem;
}
.icon,
.last{
    text-align: center;
font-size: 25px;
}
.para{
    font-size: 1.5rem;
}
.fa-solid {
    background-color: coral;
    width: 30px;
    height: 30px;
    border-radius: 50%;
margin-top: 50px;
text-align: center;
padding-top: 12px;
color: #fff;
}
.main2,
.logo{
    display: flex;
}
.main3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   /* position: relative; */
   margin-top: 25px;

}
.story{
    padding: 30px;
    position: relative;
    display: inline-block;
}
/* p{
    font-size: 20px;
} */
.spacial{
    background-color: rgb(41, 224, 41);
    border-radius: 20px;
    position: absolute;
    top: 75%;
    left:200px;
    padding: 15px;
    margin-bottom: 20px;
}

.spacial2{
    background-color: rgb(43, 153, 226);
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left:20%;
    padding: 10px;
    
}.spacial3{
    background-color: rgb(59, 228, 17);
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left:20%;
    padding: 10px;
    
}.spacial4{
    background-color: rgb(20, 59, 231);
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left:20%;
    padding: 10px;
    
}.spacial5{
    background-color: rgb(16, 192, 10);
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left:20%;
    padding: 10px;
    
}
.box15,
.box25,
.box35,
.box45{
    position: relative;
    display: inline-block;

}
.button{
    background-color: rgb(119, 221, 2);
    color: #fff;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 25px;
}
.last{
    background-color: rgb(14, 189, 81);
    color: #fff;
    border-radius: 5px;
    padding: 10px 40px;
    margin-left: 30%;
    margin-top: 50px;
}
.finising{
    background-color: rgb(194, 88, 189);
    text-align: center;
    margin: 20px;
    padding: 30px;
    border-radius: 10PX;
}
.footer-holder{
    display: flex;
    justify-content: space-between;
}
.footer2{
    display: grid;
    grid-template-rows: 1,1fr;
}
.footer1{
    max-width: 450px;
    text-align: justify;
}
hr{
    color: brown;
    
}
img{
    border-radius: 10PX;
    width: 100%;
}
#icon-bar{
    display: none;
}
.nav{
    border-bottom: 2px solid orange;
   
}
.nav-item2,
h2{
    text-align: left;
}


.button:hover{
    background-color: crimson;
}
.last:hover{
    background-color: crimson;
}
.spacial:hover{
    background-color: crimson;
}
.spacial2:hover{
    background-color: crimson;
}
.spacial3:hover{
    background-color: crimson;
}
.spacial4:hover{
    background-color: crimson;
}
.spacial5:hover{
    background-color: crimson;
}

@media screen and (max-width:570px) {
    .navitem{
        display: none;
    }
    /* .logophoto{
        display:block;
    } */
    .hero{
        flex-direction: column-reverse;

    }
    .footer-holder{
        flex-direction: column;
        /* padding-left: 10px; */
    /* border-bottom: 10px  solid orange ; */
    }
    #story100{
        display: none;
    }
    .main3{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        
    }
    .main1{
        flex-direction: column;
    }
  body{
    margin: 20px;
    padding: 0px;
  }
   
    .title{
        padding: 20px;
        text-align: center;
    }
    /* .main2{
        flex-direction: column;
    } */
    
    
    .icon,
    .cool  {
        display: none;
    }
    #icon-bar{
        display: block;
        background-color: rgb(255, 255, 255);
        color: black;
    position: absolute;
top: -40px;
right: 5px;
    }
.button{
    margin-left: 20%;
}
}